@charset "UTF-8";
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Your Code Goes Here */
* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Roboto", Arial, sans-serif; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 36em) {
    html {
      font-size: 50%; } }

body {
  margin: 0 auto; }

a,
p,
address,
footer,
ul,
li,
section,
nav,
button {
  font-size: 1.6rem;
  line-height: 2.4rem; }

.container {
  display: grid;
  grid-template-rows: 8rem 80vh repeat(9, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 36em) {
    .container {
      grid-template-rows: 8rem 40vh repeat(9, min-content);
      grid-template-columns: [full-start] minmax(2.4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(2.4rem, 1fr) [full-end]; } }

h1 {
  font-size: 6.4rem;
  font-weight: bold;
  color: #fff;
  line-height: 7.5rem; }

h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #222222;
  line-height: 3.2rem; }

#project_h2 {
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-weight: 100; }

h3 {
  font-size: 2rem;
  font-weight: regular;
  line-height: 2.4rem;
  color: #fff;
  padding-bottom: 1.6rem; }

h4 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1.6rem; }

h6 {
  font-size: 1.2rem;
  color: #fff; }

@media only screen and (max-width: 50em) {
  h1 {
    font-size: 4.8rem; }
  h2 {
    font-size: 1.6rem; }
  h6 {
    font-size: 1.4rem; } }

address {
  font-size: 1.4rem;
  color: #fff;
  line-height: 2.6rem; }

.copyright {
  font-size: 1.2rem;
  color: #fff; }
  @media only screen and (max-width: 50em) {
    .copyright {
      font-size: 1.4rem; } }

.nav {
  background-color: #828282;
  grid-column: full-start / full-end;
  z-index: 10000;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 36em) {
    .nav {
      grid-template-columns: [full-start] minmax(2.4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(2.4rem, 1fr) [full-end]; } }
  .nav__main {
    grid-column: center-start / center-end; }
    .nav__main-content {
      display: flex;
      justify-content: space-between;
      background-color: #828282;
      margin-top: 3rem; }
  .nav a {
    text-decoration: none; }
  .nav__logo {
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold; }
  .nav__menu {
    display: none; }
    .nav__menu--links {
      color: #fff;
      margin: 1.5rem auto; }
      .nav__menu--links:hover {
        color: #222222;
        transform: scale(1.05);
        font-weight: bold; }
  .nav__toggle {
    color: white;
    font-size: 2.4rem; }
    .nav__toggle:hover {
      color: #222222; }
  .nav .active {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 100%; }

.header {
  grid-column: full-start / full-end;
  background-image: url(../../img/home/home-jumbotron.png);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: [row-start1] 1fr [row-end1 row-start2] 1fr [row-end2 row-start3] min-content [row-end3 row-start4] 1fr [row-end4]; }
  .header__h1 {
    grid-column: center-start / center-end;
    grid-row: row-start4 / row-end4;
    padding-bottom: 4.8rem; }
  @media only screen and (max-width: 36em) {
    .header {
      grid-template-columns: [full-start] minmax(2.4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(2.4rem, 1fr) [full-end]; } }

.learn-more {
  margin-top: 8.8rem;
  grid-column: center-start / center-end; }
  .learn-more__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 36em) {
      .learn-more__content {
        flex-direction: column; } }
  .learn-more__info {
    width: 48%; }
    @media only screen and (max-width: 36em) {
      .learn-more__info {
        width: 100%; } }
    .learn-more__info h2 {
      margin-bottom: 2.4rem; }
    .learn-more__info p {
      margin-bottom: 2.4rem; }
    .learn-more__info button {
      height: 4.8rem;
      width: 20rem;
      border-radius: 4px;
      border: line 1px #222222; }
      @media only screen and (max-width: 36em) {
        .learn-more__info button {
          width: 100%; } }
  .learn-more img {
    width: 48%; }
    @media only screen and (max-width: 36em) {
      .learn-more img {
        order: -1;
        width: 100%; } }

.designs {
  margin-top: 4.8rem;
  grid-column: center-start / center-end; }
  .designs__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 36em) {
      .designs__content {
        flex-direction: column; } }
  .designs__info {
    width: 48%;
    order: 2; }
    @media only screen and (max-width: 36em) {
      .designs__info {
        width: 100%; } }
    .designs__info h2 {
      margin-bottom: 2.4rem; }
    .designs__info p {
      margin-bottom: 2.4rem; }
    .designs__info button {
      height: 4.8rem;
      width: 20rem;
      border-radius: 4px;
      border: line 1px #222222; }
      @media only screen and (max-width: 36em) {
        .designs__info button {
          width: 100%; } }
  .designs img {
    width: 48%; }
    @media only screen and (max-width: 36em) {
      .designs img {
        width: 100%; } }

.project__title {
  margin-top: 4.8rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  grid-column: center-start / center-end; }

.project__1 {
  grid-column: center-start / center-end;
  grid-row: 6 / 7;
  display: grid;
  grid-template-rows: [row-start1] 1fr [row-end1 row-start2] min-content [row-end2];
  grid-template-columns: repeat(3, [col-start] minmax(min-content 1fr) [col-end]); }
  .project__1--head {
    grid-row: row-start2 / row-end2; }

.project__1 > img,
.project__2 > img,
.project__3 > img {
  object-fit: cover;
  width: 100%;
  grid-column: col-start1 / col-end3; }

.project__1--head,
.project__3--head {
  grid-column: col-start3 / col-end3;
  background-color: #d8d8d8d8;
  padding: 2rem;
  width: 33%;
  text-align: center;
  transform: translateY(-50%);
  justify-self: end; }
  @media only screen and (max-width: 36em) {
    .project__1--head,
    .project__3--head {
      width: 100%;
      padding: 1.25rem; } }

.project__1--text,
.project__2--text,
.project__3--text {
  grid-column: 4 / 8;
  padding-bottom: 4.8rem; }
  @media only screen and (max-width: 36em) {
    .project__1--text,
    .project__2--text,
    .project__3--text {
      grid-column: center-start / center-end; } }

.project__2 {
  grid-column: center-start / center-end;
  grid-row: 8 / 9;
  display: grid;
  grid-template-rows: [row-start1] 1fr [row-end1 row-start2] min-content [row-end2];
  grid-template-columns: repeat(3, [col-start] minmax(min-content 1fr) [col-end]); }
  .project__2--head {
    grid-row: row-start2 / row-end2; }
  .project__2 .project__2--head {
    grid-column: col-start1 / col-end1;
    background-color: #d8d8d8d8;
    padding: 2rem;
    width: 33%;
    text-align: center;
    transform: translateY(-50%);
    justify-self: start; }
    @media only screen and (max-width: 36em) {
      .project__2 .project__2--head {
        width: 100%;
        padding: 1.25rem; } }

.project__3 {
  grid-column: center-start / center-end;
  grid-row: 10 / 11;
  display: grid;
  grid-template-rows: [row-start1] 1fr [row-end1 row-start2] min-content [row-end2];
  grid-template-columns: repeat(3, [col-start] minmax(min-content 1fr) [col-end]); }
  .project__3--head {
    grid-row: row-start2 / row-end2; }

.footer {
  background-color: #828282;
  grid-column: full-start / full-end;
  margin-top: 8.8rem;
  padding-top: 4.8rem;
  padding-bottom: 2.4rem;
  display: grid;
  grid-row-gap: 3.2rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(max-content, 5.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: min-content max-content; }
  @media only screen and (max-width: 50em) {
    .footer {
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(max-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-rows: repeat(5, min-content); } }
  @media only screen and (max-width: 36em) {
    .footer {
      grid-template-columns: [full-start] minmax(2.4rem, 1fr) [center-start] repeat(8, [col-start] minmax(max-content, 10rem) [col-end]) [center-end] minmax(2.4rem, 1fr) [full-end];
      grid-template-rows: repeat(5, min-content); } }
  .footer .email_list {
    grid-row: 1 / 2;
    grid-column: 2 / 4; }
    @media only screen and (max-width: 36em) {
      .footer .email_list {
        grid-row: 1/2;
        grid-column: 2/10; } }
    .footer .email_list input {
      width: 100%;
      padding: 1rem 0.4rem;
      border-radius: 0.4rem;
      margin-bottom: 0.8rem; }
  .footer__ny {
    grid-column: 5 / 6; }
    @media only screen and (max-width: 50em) {
      .footer__ny {
        grid-row: 2/3;
        grid-column: 2/3; } }
  .footer__fl {
    grid-column: 7 / 8; }
    @media only screen and (max-width: 50em) {
      .footer__fl {
        grid-row: 3/4;
        grid-column: 2/3; } }
  .footer__ca {
    grid-column: 9 / 10; }
    @media only screen and (max-width: 50em) {
      .footer__ca {
        grid-row: 4/5;
        grid-column: 2/3; } }
  .footer .copyright {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center; }
    @media only screen and (max-width: 50em) {
      .footer .copyright {
        grid-row: 5/6;
        grid-column: 2/3;
        font-size: 1.4rem; } }
