html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

// RESPONSIVE BREAKPOINTS
$bp-tab: 43.75em; //700px
$bp-mobile: 36em; // 576px

html {
  font-size: 62.5%;

  // @media only screen and (max-width: $bp-tab) {
  //   font-size: 50%;
  // }
  @media only screen and (max-width: $bp-mobile) {
    font-size: 50%;
  }
}

body {
  margin: 0 auto;
}

a,
p,
address,
footer,
ul,
li,
section,
nav {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.container {
  display: grid;
  grid-template-rows: 8rem 80vh repeat(9, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 10rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}
