h1 {
  font-size: 7.2rem;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 2.4rem;
  font-weight: 200;
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #444444;
}

h4 {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1.6rem;
}
h6 {
  font-size: 1rem;
  color: white;
}

@media only screen and (max-width: $bp-tab) {
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  // h3 {
  //   font-size: 1.2rem;
  // }

  // h4 {
  //   font-size: 1rem;
  // }
  // h6 {
  //   font-size: 0.8rem;
  // }
}
// @media only screen and (max-width: $bp-mobile) {
//   grid-row: 1/2;
//   grid-column: 2/10;
// }
