h1 {
  font-size: 7.2rem;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 2.4rem;
  font-weight: 200;
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #444444;
}
