.nav {
  background-color: $footer-bg;
  grid-column: full-start / full-end;
  z-index: 10000;

  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 10rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-mobile) {
    grid-template-columns:
      [full-start] minmax(2.4rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 10rem) [col-end]
      )
      [center-end] minmax(2.4rem, 1fr) [full-end];
  }

  &__main {
    grid-column: center-start / center-end;
    // background-color: aqua;

    &-content {
      display: flex;
      justify-content: space-between;
      background-color: $footer-bg;
      margin-top: 3rem;
    }
  }

  a {
    text-decoration: none;
  }

  &__logo {
    color: $font-light;
    font-size: 2.4rem;
    font-weight: bold;
  }

  &__menu {
    display: none;
    &--links {
      color: $font-light;
      margin: 1.5rem auto;

      &:hover {
        color: $font-primary;
        transform: scale(1.05);
        font-weight: bold;
      }
    }
  }

  &__toggle {
    color: white;
    font-size: 2.4rem;

    &:hover {
      color: $font-primary;
      // transform: scale(1.1);
    }
  }

  .active {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 100%;
  }
}
