.project__title {
  // background-color: limegreen;
  margin-top: 4.8rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  grid-column: center-start / center-end;
}

.project__1 {
  //   background-color: firebrick;
  grid-column: center-start / center-end;
  grid-row: 6 / 7;
  display: grid;
  grid-template-rows: [row-start1] 1fr [row-end1 row-start2] min-content [row-end2];
  grid-template-columns: repeat(
    3,
    [col-start] minmax(min-content 1fr) [col-end]
  );

  &--head {
    grid-row: row-start2 / row-end2;
  }
}
.project__1 > img,
.project__2 > img,
.project__3 > img {
  object-fit: cover;
  width: 100%;
  grid-column: col-start1 / col-end3;
}
.project__1--head,
.project__3--head {
  grid-column: col-start3 / col-end3;
  background-color: lightgray;
  padding: 2rem;
  width: 33%;
  text-align: center;
  transform: translateY(-50%);
  justify-self: end;
}

.project__1--text,
.project__2--text,
.project__3--text {
  //   background-color: khaki;

  grid-column: 4 / 8;
  padding-bottom: 3.2rem;
}
.project__2 {
  //   background-color: firebrick;
  grid-column: center-start / center-end;
  grid-row: 8 / 9;
  display: grid;
  grid-template-rows: [row-start1] 1fr [row-end1 row-start2] min-content [row-end2];
  grid-template-columns: repeat(
    3,
    [col-start] minmax(min-content 1fr) [col-end]
  );

  &--head {
    grid-row: row-start2 / row-end2;
  }

  .project__2--head {
    grid-column: col-start1 / col-end1;
    background-color: lightgray;
    padding: 2rem;
    width: 33%;
    text-align: center;
    transform: translateY(-50%);
    justify-self: start;
  }
}
.project__3 {
  //   background-color: firebrick;
  grid-column: center-start / center-end;
  grid-row: 10 / 11;
  display: grid;
  grid-template-rows: [row-start1] 1fr [row-end1 row-start2] min-content [row-end2];
  grid-template-columns: repeat(
    3,
    [col-start] minmax(min-content 1fr) [col-end]
  );

  &--head {
    grid-row: row-start2 / row-end2;
  }
}
